<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styling.css">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|VT323&display=swap" rel="stylesheet">
    <title>{{ settings.siteName }}</title>
  </head>
  <body>
    <header>
        <div class="titel"><h1>What about Larissa?</h1></div>
        <nav>
                <a href="/">home</a>
        </nav>
    </header>
    <main>
      
      <div class="blogbox">
          {{ content }}
      </div>

    </main>
  </body>
</html>
